/* TAGS */
html {
    font-family: Ubuntu;
    background-color:black;
    color: rgb(234, 216, 216);
}
a {
    text-decoration: none;
    color: cadetblue;
}
a:hover {
    color: #d0ff00;
    transition: 400ms;
}
header h1 {
    padding-right: 0.2%;
    padding-left: 0.2%;
}
header form {
    align-self: center;
}
header {
    display: flex;
}
form input, button, select {
    background-color: #134134;
    padding: 5px;
    color: whitesmoke;
    border: 0px;
    border-radius: 1px;
}

/* BLOCKS */
.content {
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block {
    max-width: 20%;
    height: 0%;
    padding: 4px;
    border-radius: 2px;
    border: 3px solid #091f19;
    word-break: break-all;
    background-color: #091f19;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}
.block:hover {
    border: 3px solid #4d27d6;
    transition: 400ms;
}
.block img, .plates .user-plate img {
    width: 100%;
}
.block p {
    word-break: break-all;
}

/* MESSAGES */
.msg {
    background-color: #091f19;
    color: whitesmoke;
    width: fit-content;
    max-width: 90%;
    padding: 4px;
    border-radius: 2px;
    margin-top: 6px;
    text-wrap: pretty;
    transition: 350ms;
}
.msg:hover {
    background-color: #134134;
}
.reply {
    border-radius: 0px 2px 2px 0px;
    border-left: #258268 solid;
    margin-left: 40px;
}

/* FOLDER & PLATES */
.folders, .plates {
    display: flex;
    flex-wrap: wrap;
}
.folder-item {
    background-color: #060820;
    border: 3px solid #060820;
    width: 10%
}
.admins .user-plate {
    width: 5%;
    background-color: #011522;
}
.plates .user-plate {
    margin-left: 1%;
    margin-bottom: 1%;
    background-color: #091f19;
    padding: 3px;
    word-break: break-all;
    text-align: center;
    max-width: 15%;
}

/* USER/GROUP BACKGROUNDS */
.ubg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ubg img {
    width: 20%;
}

/* COLORS */
.nsfw, .about-false {
    color: red;
}
.about-true {
    color: green;
}
.author {
    color: seagreen;
}
.dd {
    color: rgb(160, 0, 147);
}

/* SCREEN OPTIMISATIONS */
@media screen and (orientation: portrait) {
    header {
        scale: 155%;
        justify-content: center;
    }
    .content {
        margin: auto;
        display: inherit;
        scale: 100%;
    }
    .block {
        max-width: 60%;
    }
}

@media screen and (max-width: 1462px) {
    .block {
        max-width: 30%;
    }
}

@media screen and (min-width: 788px) and (max-width: 884px) {
    .block {
        max-width: 35%;
    }
}