<!DOCTYPE html>
<html>
    <head>
        <title>SkunkyArt | {{.Templates.Deviation.Post.Deviation.Author.Username}} - {{.Templates.Deviation.Post.Deviation.Title}}</title>
        <link rel="stylesheet" href="{{.BasePath}}stylesheet">
        <meta name="referrer" content="no-referrer" />
    </head>
    <main>
        <header>
            <h1><a href="{{.BasePath}}">HOME</a> | <a href="{{.BasePath}}dd">DD</a></h1>
            <form method="get" action="{{.BasePath}}search">
                <input type="text" name="q" placeholder="Search for ..." autocomplete="off" autocapitalize="none" spellcheck="false">
                <select name="type">
                    <option value="all">All</option>
                    <option value="tag">Tag</option>
                    <option value="r">Groups</option>
                </select>
                <button type="submit">Search!</button>
            </form>
        </header>
        <figure>
            <img src="{{.BasePath}}media/emojitar/{{.Templates.Deviation.Post.Deviation.Author.Username}}?type=a" width="30px">
            <span><strong><a href="{{.BasePath}}group_user?type=about&q={{.Templates.Deviation.Post.Deviation.Author.Username}}">{{.Templates.Deviation.Post.Deviation.Author.Username}}</a></strong> — {{if (.Templates.Deviation.Post.Deviation.DD)}}
                <span class="dd" title="Daily Deviation!"><b>{{.Templates.Deviation.Post.Deviation.Title}}</b></span>
                {{else}}{{.Templates.Deviation.Post.Deviation.Title}}{{end}}
                 {{if (ne .Templates.Deviation.Post.Deviation.License "none")}}<mark title="License">{{.Templates.Deviation.Post.Deviation.License}}</mark>{{end}} {{if (.Templates.Deviation.Post.Deviation.AI)}}[🤖]{{end}} 
                 {{if (.Templates.Deviation.Post.Deviation.NSFW)}}[<span class="nsfw">NSFW</span>]{{end}}
            </span>
            <br>
            {{if (ne .Templates.Deviation.Post.IMG "")}}
            <a href="{{.Templates.Deviation.Post.IMG}}" title="open/download image"><img src="{{.Templates.Deviation.Post.IMG}}" width="50%"></a>
            <br>
            {{end}}
            {{if (ne .Templates.Deviation.Tags "")}}
            {{.Templates.Deviation.Tags}}<br>
            {{end}}
            <span>Published: <strong>{{.Templates.Deviation.StringTime}}</strong>; Views: <strong>{{.Templates.Deviation.Post.Deviation.Stats.Views}}</strong>; Favourites: <strong>{{.Templates.Deviation.Post.Deviation.Stats.Favourites}}</strong>; Downloads: <strong>{{.Templates.Deviation.Post.Deviation.Stats.Downloads}}</strong>
            <br><a target="_blank" href="https://www.deviantart.com/{{.Templates.Deviation.Post.Deviation.Author.Username}}/art/art-{{.Templates.Deviation.Post.Deviation.ID}}">Redirect to original</a>
            </span>
            {{if (ne .Templates.Deviation.Post.Description "")}}
            <figcaption>
                <details>
                    <summary>Description</summary>
                    {{.Templates.Deviation.Post.Description}}
                </details>
            </figcaption>
            {{end}}
            {{if ne .Templates.Deviation.Related ""}}
            <details>
                <summary>Related content</summary>
                {{.Templates.Deviation.Related}}
            </details>
            {{end}}
            {{if (ne .Templates.Deviation.Comments "")}}
            {{.Templates.Deviation.Comments}}
            {{end}}
        </figure>
    </main>
</html>