<!DOCTYPE html>
<html>
    {{template "head" .}}
    <main>
        {{template "header" .}}
        <p>
            SkunkyArt is an alternative frontend for deviantart.com, written in Go.
        </p>
        <h3><a href="https://github.com/zerolabsco/skunky-art/issues" target="_blank">Report an issue</a></h3>
        <b>Instance settings:</b>
        <ul>
            <li><b>NSFW</b>: <span class="about-{{.Templates.About.Nsfw}}">{{if .Templates.About.Nsfw}}YES{{else}}NO{{end}}</span></li>
            <li><b>Proxyfing</b>: <span class="about-{{.Templates.About.Proxy}}">{{if .Templates.About.Proxy}}YES{{else}}NO{{end}}</span></li>
        </ul>
        <details>
            <summary><b>Instances:</b></summary>
            <ul>
                {{range .Templates.About.Instances}}
                <li><u><b>{{.Title}}</b></u>:
                    <ul>
                        <li><b>Country</b>: {{.Country}}</li>
                        <li><b>URLs</b>: </li>
                        <ul>
                            {{if ne .Urls.I2P ""}}
                            <li><b>I2P</b>: <a href="{{.Urls.I2P}}">Yes</a></li>
                            {{end}}
                            {{if ne .Urls.Ygg ""}}
                            <li><b>Ygg</b>: <a href="{{.Urls.Ygg}}">Yes</a></li>
                            {{end}}
                            {{if ne .Urls.Tor ""}}
                            <li><b>Tor</b>: <a href="{{.Urls.Tor}}">Yes</a></li>
                            {{end}}
                            {{if ne .Urls.Clearnet ""}}
                            <li><b>Clearnet</b>: <a href="{{.Urls.Clearnet}}">{{.Urls.Clearnet}}</a></li>
                            {{end}}
                        </ul>
                        <li><b>Settings</b>: </li>
                        <ul>
                            <li><b>NSFW</b>: <span class="about-{{.Settings.Nsfw}}">{{if .Settings.Nsfw}}YES{{else}}NO{{end}}</span></li>
                            <li><b>Proxyfing</b>: <span class="about-{{.Settings.Proxy}}">{{if .Settings.Proxy}}YES{{else}}NO{{end}}</span></li>
                        </ul>
                    </ul>
                </li>
                {{end}}
            </ul>
        </details>
        <p>Copyright <a href="https://git.macaw.me/skunky/SkunkyArt" target="_blank">lost+skunk</a> and <a href="https://github.com/zerolabsco" target="_blank">zerolabs</a>, X11. <a href="https://github.com/zerolabsco/skunky-art/releases/tag/v{{.Version}}" target="_blank">SkunkyArt v{{.Version}}</a></p>
    </main>
</html>
