<!DOCTYPE html>
<html>
    {{template "head" . }}
    <main>
        <header>
            <h1>
                <a href="{{.BasePath}}">HOME</a>
                | <a href="{{.BasePath}}dd">DD</a>
                {{if ne .Type 'f'}}
                    | <a href="group_user?q={{.Templates.GroupUser.GR.Owner.Username}}&type={{if eq .Type 'a'}}gallery">Gallery{{else}}about">About{{end}}</a>
                    | <a href="group_user?q={{.Templates.GroupUser.GR.Owner.Username}}&type=favourites">Favourites</a>
                {{else}}
                    | <a href="group_user?q={{.Templates.GroupUser.GR.Owner.Username}}&type=about">About</a>
                    | <a href="group_user?q={{.Templates.GroupUser.GR.Owner.Username}}&type=gallery">Gallery</a>
                    | <a href="group_user?q={{.Templates.GroupUser.GR.Owner.Username}}&type=favourites">Favourites</a>
                {{end}}
                | <a href="group_user?q={{.Templates.GroupUser.GR.Owner.Username}}&type=gallery&atom=true">RSS</a>
            </h1>
             <form method="get" action="{{.BasePath}}search">
                <input type="gallery" name="q" placeholder="Search for ..." autocomplete="off" autocapitalize="none" spellcheck="false">
                <input type="hidden" name="usr" value="{{.Templates.GroupUser.GR.Owner.Username}}">
                <select name="type">
                    <option value="gallery">Gallery</option>
                    <option value="folders">Folders</option>
                    <option value="all">All</option>
                    <option value="tag">Tag</option>
                    <option value="r">Groups</option>
                </select>
                <button type="submit">Search!</button>
            </form> <h1>| {{.Templates.GroupUser.GR.Owner.Username}}</h1>
        </header>
        {{if eq .Type 'a'}}
            {{if and (and (ne .Templates.About.Nsfw true) (ne .Templates.GroupUser.About.BGMeta.NSFW true)) (ne .Templates.GroupUser.About.BG "")}}
            <a href="{{.Templates.GroupUser.About.BGMeta.Url}}" class="ubg"><img title="{{if ne .Templates.GroupUser.GR.Owner.Username .Templates.GroupUser.About.BGMeta.Author.Username}}
            {{.Templates.GroupUser.About.BGMeta.Author.Username}} - {{end}}{{.Templates.GroupUser.About.BGMeta.Title}}" src="{{.Templates.GroupUser.About.BG}}"></a>
            {{end}}

            <img src="{{.BasePath}}media/emojitar/{{.Templates.GroupUser.GR.Owner.Username}}?type=a" width="30px" height="30px"> <b>{{.Templates.GroupUser.GR.Owner.Username}}</b>
            {{if (eq .Templates.GroupUser.About.A.Gender "male")}}
            ♂️
            {{end}}
            {{if (eq .Templates.GroupUser.About.A.Gender "female")}}
            ♀️
            {{end}}
            [<span title="UID">{{.Templates.GroupUser.GR.Gruser.ID}}</span>]
            [<span title="Registration date">{{.Templates.GroupUser.CreationDate}}</span>]
            {{if ne .Templates.GroupUser.GR.Extra.Tag ""}}
            <i title="User's Tag">"{{.Templates.GroupUser.GR.Extra.Tag}}"</i>{{end}} {{if ne .Templates.GroupUser.About.A.Country ""}}
            (<b>{{.Templates.GroupUser.About.A.Country}}</b>)
            {{end}}

            {{if .Templates.GroupUser.Group}}
            <h3 id="stats"><a href="#stats">#</a> Statistics</h3>
            <p>Watchers: <b>{{.Templates.GroupUser.GR.Extra.Stats.Watchers}}</b>; Pageviews: <b>{{.Templates.GroupUser.GR.Extra.Stats.Pageviews}}</b></b>
            {{else}}
            <h3 id="stats"><a href="#stats">#</a> Statistics</h3>
            <p>Favourites: <b>{{.Templates.GroupUser.GR.Extra.Stats.Favourites}}</b>; Deviations: <b>{{.Templates.GroupUser.GR.Extra.Stats.Deviations}}</b>; Watchers: <b>{{.Templates.GroupUser.GR.Extra.Stats.Watchers}}</b>
            <p>Watching: <b>{{.Templates.GroupUser.GR.Extra.Stats.Watching}}</b>; Pageviews: <b>{{.Templates.GroupUser.GR.Extra.Stats.Pageviews}}</b>; Comments Made: <b>{{.Templates.GroupUser.GR.Extra.Stats.CommentsMade}}</b>; Friends: <b>{{.Templates.GroupUser.GR.Extra.Stats.Friends}}</b></p>
            {{end}}

            {{if ne .Templates.GroupUser.Admins ""}}
            <h3 id="admins"><a href="#admins">#</a> Group admins</h3>
            <div class="plates admins">
            {{.Templates.GroupUser.Admins}}
            </div>
            {{end}}

            {{if ne .Templates.GroupUser.About.Interests ""}}
            <h3 id="interests"><a href="#interests">#</a> Interests</h3>
            {{.Templates.GroupUser.About.Interests}}
            {{end}}

            {{if ne .Templates.GroupUser.About.Social ""}}
            <h3 id="social"><a href="#social">#</a> Social Links</h3>
            {{.Templates.GroupUser.About.Social}}
            {{end}}

            {{if ne .Templates.GroupUser.About.DescriptionFormatted ""}}
            <h3 id="about"><a href="#about">#</a> About me</h3>
            {{.Templates.GroupUser.About.DescriptionFormatted}}
            {{end}}
            {{if ne .Templates.GroupUser.About.Comments ""}}
            <br>
            <h3 id="comments"><a href="#comments">#</a> Comments</h3>
            {{.Templates.GroupUser.About.Comments}}
            {{end}}
        {{else}}
            {{.Templates.GroupUser.Gallery.Folders}}
            {{.Templates.GroupUser.Gallery.List}}
        {{end}}
    </main>
</html>
