{{define "head"}}
<head>
    <title>SkunkyArt |
        {{if eq .Endpoint "search"}}
            "{{.QueryRaw}}"
        {{else if eq .Endpoint "post"}}
            {{.Templates.Deviation.Post.Deviation.Author.Username}} — {{.Templates.Deviation.Post.Deviation.Title}}
        {{else if eq .Endpoint "group_user"}}
            {{if eq .Type 'g'}}
                gallery of
            {{else if eq .Type 'f'}}
                favourites of
            {{end}}
            {{.Templates.GroupUser.GR.Owner.Username}}
        {{else}}
            {{.Endpoint}}
        {{end}}
    </title>

    <base href="{{.BasePath}}">
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="{{.BasePath}}stylesheet">
    <link rel="icon" type="image/x-icon" href="{{.BasePath}}favicon.ico">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.4, user-scalable=no"/>
</head>
{{end}}